{% extends "base.html" %}
{% block content %}

<a href="/players/import">Import Players</a>
 <table id="data" class="table table-striped">
   <thead>
     <tr>
       <th>First Name</th>
       <th>Last Name</th>
       <th>Height</th>
       <th>Weight</th>
       <th>Average Score</th>
       <th>Field %</th>
       <th>ThreePoint</th>
     </tr>
   </thead>
   <tbody>
   </tbody>
 </table>


    {% endblock %}
  {% block script %}
 <script>
   $(document).ready(function () {
     $('#data').DataTable({
       ajax: '/api/players',
       pageLength: 25,
       columns: [
         {data: 'first'},
         {data: 'last'},
         {data: 'height'},
         {data: 'weight'},
         {data: 'avgscore'},
         {data: 'field'},
         {data: 'threepoint'}
       ],
     });
   });

 </script>
   {% endblock %}