{% extends "base.html" %}
{% block content %}


<div class="container">
    <form id="players" action="/game" method="POST">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png" alt="">
                    <div class="card-body">
                        <select name="p1">
                            {% for each in dropdown_list %}
                            <option value="{{each}}">{{each}}</option>
                            {% endfor %}
                        </select>
                        <p class="card-text">
                            Some quick example text to build on
                            the card title and make up the bulk
                            of the card's content.
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Card link
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png" alt="">

                    <div class="card-body">
                        <select name="p2">
                            {% for each in dropdown_list %}
                            <option value="{{each}}">{{each}}</option>
                            {% endfor %}
                        </select>
                        <p class="card-text">
                            Some quick example text to build on the
                            card title and make up the bulk of the
                            card's content.
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Card link
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <input type="submit">
    </form>

{% endblock %}